/*! Amiri */
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Amiri-Regular.woff);
}

/*! UbuntuMono */
@font-face {
  font-family: 'UbuntuMono';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/UbuntuMono-Regular.woff);
}

/*! OldStandard */
@font-face {
  font-family: 'Old Standard TT';
  src: url(../fonts/OldStandard.woff2);
}

/*! SanFrancisco */
@font-face {
  font-family: 'SanFrancisco';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/SanFrancisco.woff);
}

/*! HandWriting */
@font-face {
  font-family: 'HandWriting';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/HandWriting.woff);
}

/*! Nintendo */
@font-face {
  font-family: 'Nintendo';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Nintendo.woff);
}


