@charset "UTF-8";

/*! Bootstrap Reboot - v4.1.1 */
*,::after,::before{box-sizing:border-box}html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent}@-ms-viewport{width:device-width}article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}[tabindex="-1"]:focus{outline:0!important}hr{box-sizing:content-box;height:0;overflow:visible}h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem}p{margin-top:0;margin-bottom:1rem}abbr[data-original-title],abbr[title]{text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted;cursor:help;border-bottom:0}address{margin-bottom:1rem;font-style:normal;line-height:inherit}dl,ol,ul{margin-top:0;margin-bottom:1rem}ol ol,ol ul,ul ol,ul ul{margin-bottom:0}dt{font-weight:700}dd{margin-bottom:.5rem;margin-left:0}blockquote{margin:0 0 1rem}dfn{font-style:italic}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects}a:hover{color:#0056b3;text-decoration:underline}a:not([href]):not([tabindex]){color:inherit;text-decoration:none}a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{color:inherit;text-decoration:none}a:not([href]):not([tabindex]):focus{outline:0}code,kbd,pre,samp{font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;font-size:1em}pre{margin-top:0;margin-bottom:1rem;overflow:auto;-ms-overflow-style:scrollbar}figure{margin:0 0 1rem}img{vertical-align:middle;border-style:none}svg:not(:root){overflow:hidden}table{border-collapse:collapse}caption{padding-top:.75rem;padding-bottom:.75rem;color:#6c757d;text-align:left;caption-side:bottom}th{text-align:inherit}label{display:inline-block;margin-bottom:.5rem}button{border-radius:0}button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=date],input[type=datetime-local],input[type=month],input[type=time]{-webkit-appearance:listbox}textarea{overflow:auto;resize:vertical}fieldset{min-width:0;padding:0;margin:0;border:0}legend{display:block;width:100%;max-width:100%;padding:0;margin-bottom:.5rem;font-size:1.5rem;line-height:inherit;color:inherit;white-space:normal}progress{vertical-align:baseline}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{outline-offset:-2px;-webkit-appearance:none}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}output{display:inline-block}summary{display:list-item;cursor:pointer}template{display:none}[hidden]{display:none!important}

/*! fullPage - v2.9.7 */
.fp-enabled body,html.fp-enabled{margin:0;padding:0;overflow:hidden;-webkit-tap-highlight-color:transparent}.fp-slide{float:left}.fp-slide,.fp-slidesContainer{height:100%;display:block}.fp-slides{z-index:1;height:100%;overflow:hidden;position:relative;-webkit-transition:all .3s ease-out;transition:all .3s ease-out}.fp-section.fp-table,.fp-slide.fp-table{display:table;table-layout:fixed;width:100%;height:  100% !important;}.fp-tableCell{display:table-cell;vertical-align:middle;width:100%;height: 100% !important;}.fp-slidesContainer{float:left;position:relative}.fp-controlArrow{-webkit-user-select:none;-moz-user-select:none;-khtml-user-select:none;-ms-user-select:none;position:absolute;z-index:4;top:50%;cursor:pointer;width:0;height:0;border-style:solid;margin-top:-38px;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}#fp-nav,.fp-slidesNav{opacity:1;-webkit-transform:translate3d(0,0,0)}.fp-controlArrow.fp-prev{left:15px;width:0;border-width:38.5px 34px 38.5px 0;border-color:transparent #fff transparent transparent}.fp-controlArrow.fp-next{right:15px;border-width:38.5px 0 38.5px 34px;border-color:transparent transparent transparent #fff}.fp-scrollable{overflow:hidden;position:relative}.fp-scroller{overflow:hidden}.iScrollIndicator{border:0!important}.fp-notransition{-webkit-transition:none!important;transition:none!important}#fp-nav{position:fixed;z-index:100;margin-top:-32px;top:50%}#fp-nav.right{right:17px}#fp-nav.left{left:17px}.fp-slidesNav{position:absolute;z-index:4;-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0);left:0!important;right:0;margin:0 auto!important}.fp-slidesNav.bottom{bottom:17px}.fp-slidesNav.top{top:17px}#fp-nav ul,.fp-slidesNav ul{margin:0;padding:0}#fp-nav ul li,.fp-slidesNav ul li{display:block;width:14px;height:13px;margin:7px;position:relative}.fp-slidesNav ul li{display:inline-block}#fp-nav ul li a,.fp-slidesNav ul li a{display:block;position:relative;z-index:1;width:100%;height:100%;cursor:pointer;text-decoration:none}#fp-nav ul li a.active span,#fp-nav ul li:hover a.active span,.fp-slidesNav ul li a.active span,.fp-slidesNav ul li:hover a.active span{height:12px;width:12px;margin:-6px 0 0 -6px;border-radius:100%}#fp-nav ul li a span,.fp-slidesNav ul li a span{border-radius:50%;position:absolute;z-index:1;height:4px;width:4px;border:0;background:#fff;left:50%;top:50%;margin:-2px 0 0 -2px;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;transition:all .1s ease-in-out}#fp-nav ul li:hover a span,.fp-slidesNav ul li:hover a span{width:10px;height:10px;margin:-5px 0 0 -5px}#fp-nav ul li .fp-tooltip{position:absolute;top:-2px;color:#fff;font-size:14px;font-family:arial,helvetica,sans-serif;white-space:nowrap;max-width:220px;overflow:hidden;display:block;opacity:0;width:0;cursor:pointer;letter-spacing:10px;text-shadow:0 0 20px #fff}#fp-nav ul li:hover .fp-tooltip,#fp-nav.fp-show-active a.active+.fp-tooltip{-webkit-transition:opacity .2s ease-in;transition:opacity .2s ease-in;width:auto;opacity:1}#fp-nav ul li .fp-tooltip.right{right:20px}#fp-nav ul li .fp-tooltip.left{left:20px}.fp-auto-height .fp-slide,.fp-auto-height .fp-tableCell,.fp-auto-height.fp-section,.fp-responsive .fp-auto-height-responsive .fp-slide,.fp-responsive .fp-auto-height-responsive .fp-tableCell,.fp-responsive .fp-auto-height-responsive.fp-section{height:auto!important}.fullpage-wrapper{width:100%!important;transform:none!important}.fp-section{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%!important;position:absolute;left:0;top:0;visibility:hidden;opacity:0;z-index:0;transition:all .7s ease-in-out}.fp-section.active{visibility:visible;opacity:1;z-index:1}@media(max-width:991px){#fp-nav{display: none;}}

/*! animate.css - v3.5.2 */
.animated{animation-duration:1s;animation-fill-mode:both}.animated.infinite{animation-iteration-count:infinite}.animated.hinge{animation-duration:2s}@keyframes wobble{0%,to{transform:none}15%{transform:translate3d(-25%,0,0) rotate(-5deg)}30%{transform:translate3d(20%,0,0) rotate(3deg)}45%{transform:translate3d(-15%,0,0) rotate(-3deg)}60%{transform:translate3d(10%,0,0) rotate(2deg)}75%{transform:translate3d(-5%,0,0) rotate(-1deg)}}.wobble{animation-name:wobble}@keyframes lightSpeedOut{0%{opacity:1}to{transform:translate3d(100%,0,0) skewX(30deg);opacity:0}}.lightSpeedOut{animation-name:lightSpeedOut;animation-timing-function:ease-in}@keyframes rotateInUpLeft{0%{transform-origin:left bottom;transform:rotate(45deg);opacity:0}to{transform-origin:left bottom;transform:none;opacity:1}}.rotateInUpLeft{animation-name:rotateInUpLeft}@keyframes rotateOutDownLeft{0%{transform-origin:left bottom;opacity:1}to{transform-origin:left bottom;transform:rotate(45deg);opacity:0}}.rotateOutDownLeft{animation-name:rotateOutDownLeft}@keyframes zoomInDown{0%{opacity:0;transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;transform:scale3d(.475,.475,.475) translate3d(0,60px,0);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}.zoomInDown{animation-name:zoomInDown}@keyframes slideInLeft{0%{transform:translate3d(-100%,0,0);visibility:visible}to{transform:translateZ(0)}}.slideInLeft{animation-name:slideInLeft}@keyframes slideInRight{0%{transform:translate3d(100%,0,0);visibility:visible}to{transform:translateZ(0)}}.slideInRight{animation-name:slideInRight}

/*! preloader start */
#preloader { 
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 999; 
    width: 100%; 
    height: 100%; 
    overflow: visible; 
    background: #1b1d1b url('../images/loading.gif') no-repeat center center; 
}
/*! preloader end */

 body{
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}
/*! header start */
 #header {
     color: #fff;
     background: url(../images/background.jpg) center center/cover, #21065B;
     background-blend-mode: lighten;
     -webkit-animation: 5400ms blink infinite alternate ease;
     animation: 5400ms blink infinite alternate ease;
     -webkit-animation-play-state: paused;
     animation-play-state: paused;
}
 #header h1 {
     font-family: Amiri;
     letter-spacing: .5em;
     text-align: center;
     display: block;
     font-size: 5em;
     text-shadow: 0 0 0 #dd6dfb, 0 0 0 #50d8ec, 0 0 #50d8ec, 0 0 #f6a3ef;
     cursor: pointer;
     z-index: 2;
}
 #header h1:hover {
     -webkit-animation: 1s shadow ease alternate infinite;
     animation: 1s shadow ease alternate infinite;
}
 @-webkit-keyframes shadow {
     from {
         text-shadow: 0 0 0 #dd6dfb, 0 0 0 #50d8ec, 0 0 #50d8ec, 0 0 #f6a3ef;
    }
     to {
         text-shadow: -125px 3px 2px #dd6dfb, 125px -30px 2px #50d8ec, 150px 14px 2px #FF6AD5, -55px 133px 2px #f6a3ef;
    }
}
 @keyframes shadow {
     from {
         text-shadow: 0 0 0 #dd6dfb, 0 0 0 #50d8ec, 0 0 #50d8ec, 0 0 #f6a3ef;
    }
     to {
         text-shadow: -125px 3px 2px #dd6dfb, 125px -30px 2px #50d8ec, 150px 14px 2px #FF6AD5, -55px 133px 2px #f6a3ef;
    }
}
 @-webkit-keyframes blink {
     from {
         background-position: center center;
    }
     to {
         background-position: left top;
    }
}
 @keyframes blink {
     from {
         background-position: center center;
    }
     to {
         background-position: left top;
    }
}
/*! header end */
/*! header dance start */
 #dance img {
     width: 250px;
     position: absolute;
     bottom: 0px;
}
 #dance img:first-child {
     left: 10px;
}
 #dance img:last-child {
     right: 10px;
}
 .flip{
     -moz-transform: scaleX(-1);
     -o-transform: scaleX(-1);
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
     filter: FlipH;
     -ms-filter: "FlipH";
}
/*! header image end */
/*! header touchme start */
 #touchme {
     position: absolute;
     right: 15%;
     top: 25%;
     z-index: 1;
}
 .disable{
     display: none !important;
}
/*! header touchme end */
/*! header loader start */
 #loader {
     right: 0;
     top: 7%;
     width: 390px;
     position: absolute;
}
 #loader ul {
     margin: 0;
     list-style: none;
     width: 390px;
     position: relative;
     padding: 0;
     height: 210px;
}
 #loader ul li {
     position: absolute;
     right: 0px;
     width: 0px;
     height: 18px;
     margin-top:20px;
     margin-left:100px;
     background-color: #fff;
     bottom: 0;
}
 @keyframes sequence1 {
     0% {
         width: 40px;
    }
     50% {
         width: 380px;
    }
     100% {
         width: 40px;
    }
}
 @keyframes sequence2 {
     0% {
         width: 50px;
    }
     50% {
         width: 295px;
    }
     100% {
         width: 50px;
    }
}
 #loader li:nth-child(1) {
     top: 0;
     animation: sequence1 2s ease infinite 0;
}
 #loader li:nth-child(2) {
     top: 15px;
     animation: sequence2 2s ease infinite 0.1s;
}
 #loader li:nth-child(3) {
     top: 50px;
     animation: sequence1 2s ease-in-out infinite 0.2s;
}
 #loader li:nth-child(4) {
     top: 85px;
     animation: sequence2 2s ease-in infinite 0.3s;
}
 #loader li:nth-child(5) {
     top: 120px;
     animation: sequence1 2s ease-in-out infinite 0.4s;
}
/*! header loader end */
/*! goal start */
 #goal .bg {
     background: url(../images/cyberfunk-synthetic.gif) center center no-repeat;
}
 .glitch {
     position: relative;
     display: flex;
     justify-content: center;
     align-content: center;
     height: 100%;
     width: 100%;
     overflow: hidden;
}
 .glitch .text {
     -webkit-animation: jerkwhole 2.5s infinite;
     position: relative;
     padding: 0;
     margin: 0;
}
 .glitch span {
     color: white;
     font-family: "UbuntuMono", monospace;
     font-size: 4em;
     text-align: center;
     -webkit-filter: blur(1px);
     -webkit-animation: blur 30ms infinite, jerk 50ms infinite;
     width: 100vw;
}
 .glitch span:nth-child(1) {
     color: red;
     margin-left: 8px;
     margin-top: -2px;
     -webkit-filter: blur(2px);
}
 .glitch span:nth-child(2) {
     color: green;
     margin-left: 7px;
     -webkit-filter: blur(2px);
}
 .glitch span:nth-child(3) {
     color: blue;
     margin-left: -7px;
     margin-top: 4px;
     -webkit-filter: blur(2px);
     -webkit-animation: jerkblue .5s infinite;
}
 .glitch span:nth-child(4) {
     color: white;
     -webkit-filter: blur(1px);
     text-shadow: 0 0 50px rgba(255, 255, 255, 0.4);
}
 .glitch span:nth-child(5) {
     color: rgba(255, 255, 255, 0.4);
     -webkit-filter: blur(15px);
}
 @-webkit-keyframes blur {
     0% {
         -webkit-filter: blur(1px);
         opacity: 0.8;
    }
     50% {
         -webkit-filter: blur(1px);
         opacity: 1;
    }
     100% {
         -webkit-filter: blur(1px);
         opacity: 0.6;
    }
}
 @-webkit-keyframes jerk {
     50% {
         left: 2px;
    }
     51% {
         left: 0;
    }
}
 @-webkit-keyframes jerkup {
     50% {
         top: 2px;
    }
     51% {
         top: 0;
    }
}
 @-webkit-keyframes jerkblue {
     0% {
         left: 0;
    }
     30% {
         left: 0;
    }
     31% {
         left: -10px;
    }
     32% {
         left: 0;
    }
     98% {
         left: 0;
    }
     100% {
         left: 10px;
    }
}
 @-webkit-keyframes jerkgreen {
     0% {
         left: 0;
    }
     30% {
         left: 0;
    }
     31% {
         left: -20px;
    }
     32% {
         left: 0;
    }
     98% {
         left: 0;
    }
     100% {
         left: 15px;
    }
}
 @-webkit-keyframes jerkwhole {
     40% {
         opacity: 1;
         top: 0;
         left: 0px;
         -webkit-transform: scale(1, 1);
         -webkit-transform: skew(0, 0);
    }
     41% {
         opacity: 0.8;
         top: 0px;
         left: -100px;
         -webkit-transform: scale(1, 1.2);
         -webkit-transform: skew(20deg, 0);
    }
     42% {
         opacity: 0.8;
         top: 0px;
         left: 50px;
         -webkit-transform: scale(1, 1.2);
         -webkit-transform: skew(-40deg, 0);
    }
     43% {
         opacity: 1;
         top: 0;
         left: 0;
         -webkit-transform: scale(1, 1);
         -webkit-transform: skew(0, 0);
    }
}
/*! goal end */
/*! goal responsive start */
 @media (max-width: 576px) {
     .glitch span {
         font-size: 3em !important;
         text-align: justify;
         width: 90vw;
    }
    .glitch .text,  .glitch span, .glitch span:nth-child(3) {
         -webkit-animation: none !important;
    }
}
/*! goal responsive end */
/*! windows start*/
 .center-p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 .windows {
     border: 2px solid;
     border-bottom-color: #535353;
     border-right-color: #535353;
     border-left-color: #dbdbdb;
     border-top-color: #dbdbdb;
     background-color: #bfbfbf;
     width: 50vw;
     font-size: 13px;
     padding: 2px;
     margin: auto;
     font-size: 90%;
}
 .windows ul.toolbar {
     list-style: none;
     padding: 2px 0;
     margin: 0;
}
 .windows ul.toolbar li {
     display: inline-block;
     padding: 0 5px;
}
 .windows .windows-inner {
     border: 2px solid;
     border-bottom-color: #c7c7c7;
     border-right-color: #c7c7c7;
     border-left-color: #808080;
     border-top-color: #808080;
     padding: 10%;
     background: url(../images/flamegos.jpg)!important;
     background-size: cover !important;
}
 .windows .statusbar .left, .windows .statusbar .right {
     border: 1px solid;
     border-color: #888 #dadada #dadada #888;
     display: inline-block;
     padding: 0px 5px;
     font-size: 11px;
}
 .windows .statusbar .left {
     width: 33%;
}
 .windows .statusbar .right {
     width: 66%;
}
 .windows .title {
     background-color: #01007A;
     padding: 5px;
     position: relative;
}
 .windows .title h1 {
     text-align: left;
     font-weight: bold;
     color: #bcbcbc;
     font-size: 13px;
     margin: 0;
}
 .windows .title .button {
     border: 2px solid;
     border-bottom-color: #444;
     border-right-color: #444;
     border-left-color: #a6a6a6;
     border-top-color: #a6a6a6;
     background-color: #bfbfbf;
     height: 100%;
     width: 27px;
     outline: none;
     font-size: 14px;
     text-align: center;
     line-height: 25px;
     cursor: pointer;
}
 .windows .title .pull-right {
     float: right;
     display: flex;
     margin: -5px -5px;
}
 #academiclevel .bg {
     background: url(../images/safari.gif) center center no-repeat;
}
 .statusbar {
     display: flex;
}
 .windows-inner h1, .windows-inner p {
     font-family: Nintendo;
     color: #eee;
     line-height: 2em;
     text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
     letter-spacing: 0.125em;
     animation-duration: 0.01s;
     animation-name: textflicker;
     animation-iteration-count: infinite;
     animation-direction: alternate;
}
 .windows-inner h1 {
     font-size: 2em;
}
 .windows-inner p {
     font-size: 1em;
}
 @keyframes textflicker {
     from {
         text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
     to {
         text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
}
 .me {
     width: 71vw;
     height: 100%;
     display: flex;
     align-items: center;
}
 .me .img {
     width: 12.5vw;
     height: 36vw;
     position: absolute;
}
 .me .img:first-child {
     left: 0;
}
 .me .img:last-child {
     right: 0;
}
 .me .glitch-img {
     position: absolute;
     top: calc(-1 * 5px);
     left: calc(-1 * 10px);
     width: calc(100% + 10px * 2);
     height: calc(100% + 5px * 2);
     background-color: transparent;
     background-size: cover !important;
     transform: translate3d(0, 0, 0);
     background-blend-mode: none 
}
 .me .img:first-child .glitch-img {
     background: url(../images/me1.png) no-repeat;
}
 .me .img:last-child .glitch-img {
     background: url(../images/me2.png) no-repeat;
}
 .me .glitch-img:nth-child(n+2) {
     opacity: 0 
}
 .me .img .glitch-img:nth-child(n+2) {
     animation-duration: 4s;
     animation-delay: 0s;
     animation-timing-function: linear;
     animation-iteration-count: infinite 
}
 .me .img .glitch-img:nth-child(2) {
     background-color: transparent;
     background-blend-mode: none;
     animation-name: glitch-anim-1 
}
 .me .img .glitch-img:nth-child(3) {
     background-color: transparent;
     background-blend-mode: none;
     animation-name: glitch-anim-2 
}
 .me .img .glitch-img:nth-child(4) {
     background-color: transparent;
     background-blend-mode: none;
     animation-name: glitch-anim-3 
}
/* Animations */
 @keyframes glitch-anim-1 {
     0% {
         opacity: 1;
         transform: translate3d(10px, 0, 0);
         -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
         clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    }
     2% {
         -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
         clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    }
     4% {
         -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
         clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    }
     6% {
         -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
         clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    }
     8% {
         -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
         clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }
     10% {
         -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
         clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }
     12% {
         -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
         clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }
     14% {
         -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
         clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }
     16% {
         -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
         clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
     18% {
         -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
         clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }
     20% {
         -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
         clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }
     21.9% {
         opacity: 1;
         transform: translate3d(10px, 0, 0);
    }
     22%, 100% {
         opacity: 0;
         transform: translate3d(0, 0, 0);
         -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
         clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}
 @keyframes glitch-anim-2 {
     0% {
         opacity: 1;
         transform: translate3d(calc(-1 * 10px), 0, 0);
         -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
         clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    }
     3% {
         -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
         clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    }
     5% {
         -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
         clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    }
     7% {
         -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
         clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
     9% {
         -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
         clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    }
     11% {
         -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
         clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    }
     13% {
         -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
         clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
     15% {
         -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
         clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    }
     17% {
         -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
         clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    }
     19% {
         -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
         clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    }
     20% {
         -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
         clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    }
     21.9% {
         opacity: 1;
         transform: translate3d(calc(-1 * 10px), 0, 0);
    }
     22%, 100% {
         opacity: 0;
         transform: translate3d(0, 0, 0);
         -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
         clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}
 @keyframes glitch-anim-3 {
     0% {
         opacity: 1;
         transform: translate3d(0, calc(-1 * 5px), 0) scale3d(-1, -1, 1);
         -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
         clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    }
     1.5% {
         -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
         clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    }
     2% {
         -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
         clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    }
     2.5% {
         -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
         clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
     3% {
         -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
         clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    }
     5% {
         -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
         clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    }
     5.5% {
         -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
         clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    }
     7% {
         -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
         clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    }
     8% {
         -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
         clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }
     9% {
         -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
         clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    }
     10.5% {
         -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
         clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    }
     11% {
         -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
         clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    }
     13% {
         -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
         clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    }
     14% {
         -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
         clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    }
     14.5% {
         -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
         clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    }
     15% {
         -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
         clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    }
     16% {
         -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
         clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
     18% {
         -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
         clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    }
     20% {
         -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
         clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    }
     21.9% {
         opacity: 1;
         transform: translate3d(0, calc(-1 * 5px), 0) scale3d(-1, -1, 1);
    }
     22%, 100% {
         opacity: 0;
         transform: translate3d(0, 0, 0);
         -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
         clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}
/*! newspaper start*/
 #the-prophet {
     font-family: "Times New Roman", Times, serif;
     transition: all 1s, visibility 0s;
     margin: auto;
     width: 95%;
     font-size: calc(1vw + 1vh);
}
 .header h1 {
     font-family: 'Old Standard TT', serif;
     font-size: 5em;
     font-weight: 700;
     text-align: center;
     margin: 0;
}
 #the-prophet h2 {
     font-size: 1.5em;
     font-style: italic;
}
 .header ul {
     border-top: 2px solid #000;
     border-bottom: 2px solid #000;
     padding: 0.5em 0;
     width: 100%;
     display: flex;
     align-items: center;
}
 .header ul li {
     display: inline-block;
     list-style: none;
     width: 33%;
}
 .header ul li:first-child {
     font-size: 0.8em;
     text-indent: 1em;
}
 .header ul li:nth-child(2) {
     text-align: center;
     text-transform: uppercase;
     font-style: italic;
}
 .header ul li:last-child {
     text-align: right;
}
 #the-prophet p {
    text-align: justify;
}
 .title {
     font-size: 60px;
     text-align: center;
     text-transform: uppercase;
}
 .top {
     display: flex;
     flex-direction: row;
}
 .section-1 {
     width: 75%;
     column-count: 3;
     -webkit-column-count: 3;
     -moz-column-count: 3;
     text-align: justify;
     -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
     column-gap: 30px;
}
 .section-2 {
     width: 25%;
     padding-left: 30px;
     overflow: hidden;
}
 #the-prophet img {
     -webkit-filter: grayscale(100%);
     filter: grayscale(100%);
     width: 100%;
}
 .article-1 h2 {
     margin: 10px 0;
}
 .quote {
     display: block;
     margin: 10px auto;
     font-style: italic;
     font-weight: bold;
     font-size: 1.2em;
}
 .img-wrap {
     border-bottom: 3px solid #555;
}
 .img-wrap p {
     max-width: 100%;
     margin: 0 20px 5px;
     font-style: italic;
}
 .article-2 h3 {
     font-weight: bold;
     text-transform: uppercase;
     text-align: center;
     border-top: 2px solid;
     border-bottom: 2px solid;
     padding: 10px 0;
}
 .article-3 {
     box-sizing: border-box;
     cursor: zoom-in;
     transition: all 500ms ease;
     -webkit-transform-origin: 50% 50%;
     transform-origin: 50% 50%;
     -webkit-transform: rotate(90deg);
     transform: rotate(90deg);
     margin-top: 30px;
}
 .view-article-3 .article-3 {
     cursor: zoom-out;
}
 .view-article-3 {
     -webkit-transform-origin: top 50%;
     transform-origin: top 50%;
     -webkit-transform: rotate(-90deg) scale(3) translateX(-35%) translateY(-25%);
     transform: rotate(-90deg) scale(3) translateX(-35%) translateY(-25%);
}
 .everything:after {
     content: "";
     display: block;
     width: 100%;
     height: 5px;
     border-top: 2px solid #000;
     border-bottom: 1px solid #000;
     margin-top: 20px;
}
 cite {
     display: block;
     border-top: 1px solid #000;
     border-bottom: 1px solid #000;
     padding: 0.5em 0;
     margin: 1em 0;
     font-weight: bold;
     font-size: 1.2em;
     text-align: justify;
     line-height: 1.5em;
}
 .academic-content {
     margin: 0;
     width: 100vw;
     height: 100vh;
     overflow: hidden;
     display: flex;
     background: #fff url('../images/paper.png');
}
 .article-2 h2 {
     margin-top: 0;
}
 .unclick {
     pointer-events: none;
}
 @media (min-width: 1366px) {
     #the-prophet {
        font-size: calc(1vw + .5vh);
    }
     .article-3 {
         margin-top: 50px;
    }
}
 @media (max-width: 991px) {
     .header h1{
         font-size: calc(5vw + 1vh);
     }
     .section-1 {
         -webkit-column-gap: 15px;
         -moz-column-gap: 15px;
         column-gap: 15px;
    }
     #the-prophet h2, cite, .article-2 h3 {
         margin: 0;
    }
     #the-prophet p {
         margin-bottom: 5px;
    }
     .section-2 {
         padding-left: 15px;
    }
     .section-2 p{
         display: none;
    }
     .article-3 {
         cursor: unset;
         transition: all 500ms ease;
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
         margin-top: 10px;
    }
     .view-article-3 {
         -webkit-transform-origin: unset;
         transform-origin: unset;
         -webkit-transform: unset;
         transform: unset;
    }
     .view-article-3 .article-3 {
         cursor: unset;
    }
}
/*! newspaper end*/
/*! skill section start*/
 #skill .bg{
     background: url(../images/retro.jpg) center center no-repeat;
}
 p#start {
     position: relative;
     width: 16em;
     font-size: 200%;
     font-weight: 400;
     margin: 20% auto;
     color: #4ee;
     opacity: 0;
     z-index: 1;
     -webkit-animation: intro 2s ease-out;
     -moz-animation: intro 2s ease-out;
     -ms-animation: intro 2s ease-out;
     -o-animation: intro 2s ease-out;
     animation: intro 2s ease-out;
}
 .titles-wrap{display: flex;align-items: center;justify-content: center;}
 #titles {
     position: absolute;
     z-index: 99999;
     width: 905px;
     height: 1470px;
     bottom: 0;
     font-size: 350%;
     text-align: justify;
     overflow: hidden;
     -webkit-transform-origin: 50% 100%;
     -moz-transform-origin: 50% 100%;
     -ms-transform-origin: 50% 100%;
     -o-transform-origin: 50% 100%;
     transform-origin: 50% 100%;
     -webkit-transform: perspective(257px) rotateX(25deg);
     -moz-transform: perspective(257px) rotateX(25deg);
     -ms-transform: perspective(257px) rotateX(25deg);
     -o-transform: perspective(257px) rotateX(25deg);
     transform: perspective(256px) rotateX(23deg);
     font-family: UbuntuMono;
     color: white;
     text-shadow: 0px 0px 2px #cfd6dd;
     line-height: 1.5em;
}
 #titles ul{
     list-style-type: none;
     padding-left: 0;
}
 #titlecontent {
     position: absolute;
     padding: 0 40px;
     width: 100%;
     top: 100%;
}
 #titlecontent.scroll{
     -webkit-animation: scroll 50s linear 0s infinite;
     -moz-animation: scroll 50s linear 0s infinite;
     -ms-animation: scroll 50s linear 0s infinite;
     -o-animation: scroll 50s linear 0s infinite;
     animation: scroll 50s linear 0s infinite;
}
 @-webkit-keyframes scroll {
     0% {
         top: 100%;
        visibility: unset !important;
    }
     100% {
         top: -100%;
         visibility: unset !important;
    }
}
 @-moz-keyframes scroll {
     0% {
         top: 100%;
        visibility: unset!important;
    }
     100% {
         top: -100%;
         visibility: unset !important;
    }
}
 @-ms-keyframes scroll {
     0% {
         top: 100%;
        visibility: unset!important;
    }
     100% {
         top: -100%;
         visibility: unset !important;
    }
}
 @-o-keyframes scroll {
     0% {
         top: 100%;
         visibility: unset !important;
    }
     100% {
         top: -100%;
         visibility: unset !important;
    }
}
 @keyframes scroll {
     0% {
         top: 100%;
         visibility: unset !important;
    }
     100% {
         top: -100%;
        visibility: unset !important;
    }
}
/*! skill section end*/
/*! progress start */
 .progress-bar .progress {
     position: relative;
     height: 10px;
     background-color: #cfd6dd;
     transition: width 0.5s ease-out;
     border-radius: 5px;
     box-shadow: 0 0 20px white;
}
 .fill-1 {
     width: 55%;
}
 .fill-2 {
     width: 60%;
}
 .fill-3 {
     width: 65%;
}
 .fill-4 {
     width: 70%;
}
 .fill-5 {
     width: 90%;
}
 .progress-wrap .container {
     padding: 20px 0;
}
 .progress-wrap .container > * {
     margin-bottom: 10px;
}
/*! progress end */
/*! sublime start */
 .lk-sublime {
     text-align: left;
     width: 100vw;
     height: 100vh;
     background-color: rgba(39, 40, 34, 1);
     font-family: "SanFrancisco";
     counter-reset: chatmaticNumber;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
     color: rgba(255, 255, 255, 1);
     position: relative;
}
 .lk-sublime ul {
     clear: both;
     list-style: none;
     padding: 0;
     margin: 0;
}
 .sublime-header {
     background: rgba(23, 23, 20, 1);
     height: 50px;
     width: 100%;
     display: flex;
     align-items: center;
     position: relative;
}
 .sublime-header .file-name {
     font-weight: 100;
     font-size: 20px;
     color: #dbdbdb;
}
 .sublime-header span {
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: rgba(134, 134, 134, 1);
     display: inline-block;
     margin-left: 10px;
     cursor: pointer;
     transition: all .5s;
}
 .sublime-header span:nth-child(1):hover {
     background-color: #ff5c5c;
}
 .sublime-header span:nth-child(2):hover {
     background-color: #ffbd4c;
}
 .sublime-header span:nth-child(3):hover {
     background-color: #00ca56;
}
 .sublime-header span:first-child {
     margin-left: 18px;
}
 ul.sublime-body {
     padding: 10px 20px;
}
 .sublime-body li:before {
     text-align: right;
     counter-increment: chatmaticNumber;
     color: rgba(143, 144, 138, 1);
     margin-right: 30px;
     content: counter(chatmaticNumber);
     width: 20px;
     display: inline-block;
}
 .sublime-body li.indent--10:before {
     margin-right: 40px;
}
 .sublime-body li.indent--20:before {
     margin-right: 50px;
}
 .sublime-body li.indent--30:before {
     margin-right: 60px;
}
 .sublime-body .blue {
     color: rgba(102, 217, 218, 1);
}
 .sublime-body .gray {
     color: gray;
}
 .sublime-body .blue--italic {
     color: rgba(102, 217, 218, 1);
     font-style: italic;
}
 .sublime-body .green {
     color: rgba(166, 218, 39, 1);
}
 .sublime-body .pink {
     color: rgba(255, 42, 105, 1);
}
 .sublime-body .yellow {
     color: rgba(230, 219, 116, 1);
}
 @media (max-width: 320px) {
     .sublime-body li:before {
         margin-right: 10px !important;
    }
     .sublime-body li.indent--10:before {
         margin-right: 20px !important;
    }
     ul.sublime-body {
         padding: 10px;
    }
     .lk-sublime {
         font-size: .6em !important;
    }
}
 @media (max-width: 459px) {
     .sublime-body li:before {
         margin-right: 20px;
    }
     .sublime-body li.indent--10:before {
         margin-right: 35px;
    }
     ul.sublime-body {
         padding: 10px;
    }
     .lk-sublime {
         font-size: .8em;
    }
}
 @media (min-width: 460px) and (max-width: 576px) {
     .lk-sublime {
         font-size: 1em;
    }
}
/*! sublime end */
/*! info start */
 #info::selection {
     background: rgba(195, 239, 143, 0.5);
}
 #info #crt .s2 {
     font-size: 2em;
}
 #info #crt .s3 {
     font-size: 1em;
}
 #info #crt .s1 {
     font-weight: bold;
     line-height: 1.5em;
     font-size: 2.5em;
}
 #info #crt .s:before {
     content: '>';
}
 #info #crt {
     padding-left: 40px;
     background: #252926;
     color: #c3ef8f;
     font-family: Monaco, "Courier New", Courier, monospace;
     animation: crt 5ms infinite;
     text-shadow: 0 0 1px #c3ef8f, 1px 1px 1px blue, -1px -1px 1px red;
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
}
 #info #crt::after {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-image: url(../images/crt.png);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     content: "";
}
 #info #crt h1 {
     font-weight: 400;
     color: #c3ef8f;
     line-height: 2em;
     margin: 0;
     width: 100%;
     z-index: 1;
}
 #info #crt a {
     color: #c3ef8f;
     background: rgba(195, 239, 143, 0.5);
     border-color: rgba(195, 239, 143, 0.5);
}
 #info #crt a:hover, #info #crt a:hover + a {
     border-color: transparent !important;
     text-decoration: none;
     color: #c3ef8f;
     background: rgba(255, 255, 255, 0.4);
     text-shadow: 0 0 20px white;
}
 #crt * {
     filter: blur(3px);
     animation: 5s distort 6s infinite alternate, blur 30ms infinite, flick 50ms infinite, jump 50ms infinite;
}
 @keyframes crt {
     28% {
         background: #232624;
    }
     30% {
         background: #272c28;
    }
     33% {
         background: #232624;
    }
     34% {
         background: #272c28;
    }
     35% {
         background: #202421;
    }
}
 @keyframes blur {
     0% {
         filter: blur(1px);
         opacity: 0.8;
    }
     50% {
         filter: blur(1px);
         opacity: 1;
    }
     100% {
         filter: blur(1px);
         opacity: 0.8;
    }
}
 @keyframes flick {
     50% {
         left: 2px;
    }
     51% {
         left: 0;
    }
}
 @keyframes jump {
     30% {
         top: 10px;
    }
     31% {
         top: 0;
    }
}
 @keyframes distort {
     10% {
         opacity: 1;
         top: 0;
         left: 0;
         transform: scale(1, 1);
         transform: skew(0, 0);
    }
     11% {
         opacity: 0.8;
         top: 0px;
         left: -100px;
         transform: scale(1, 1.2);
         transform: skew(50deg, 0);
    }
     12% {
         opacity: 0.2;
         top: 0px;
         left: 100px;
         transform: scale(1, 1.2);
         transform: skew(-80deg, 0);
    }
     13% {
         opacity: 1;
         top: 0;
         left: 0;
         transform: scale(1, 1);
         transform: skew(0, 0);
    }
}
 @keyframes appear {
     0% {
         filter: blur(5px);
         opacity: 0.85;
    }
     50% {
         filter: blur(3px);
         opacity: 0.85;
    }
     100% {
         filter: blur(4px);
         opacity: 0.85;
    }
}
 @keyframes snapped {
     0% {
         filter: blur(5px);
         opacity: 0.85;
    }
     50% {
         filter: blur(3px);
         opacity: 0.85;
    }
     100% {
         filter: blur(4px);
         opacity: 0.85;
    }
}
 @keyframes beersip {
     0% {
         top: 0;
    }
     10% {
         top: -10%;
    }
     12% {
         top: 0;
    }
     54% {
         top: 0;
    }
     55% {
         top: -30%;
    }
     56% {
         top: 0;
    }
     86% {
         top: 0;
    }
     87% {
         top: -60%;
    }
     88% {
         top: 0;
    }
}
/*! info end */
/*! infor responsive start */
 @media (max-width: 320px) {
     #info #crt .s2 {
         font-size: .8em !important;
    }
     #info #crt .s3, #info #crt .s4, #info #crt a {
         font-size: .7em !important;
    }
     #info #crt .s1 {
         line-height: 10px;
         font-size: 1.3em !important;
    }
     #info #crt h1 {
         line-height: 1.1em !important;
    }
}
 @media (min-width: 320px) and (max-width: 425px) {
     .hide, .ti-container br:last-of-type {
         display: none;
    }
     #info #crt .s2 {
         font-size: 1em;
    }
     #info #crt .s3, #info #crt .s4, #info #crt a {
         font-size: .8em;
    }
     #info #crt .s1 {
         line-height: 10px;
         font-size: 1.4em;
    }
     #info #crt {
         padding: 0 15px;
    }
     #info #crt h1 {
         line-height: 1.5em;
    }
}
 @media (min-width: 425px) and (max-width: 576px) {
     .hide, .ti-container br:last-of-type {
         display: none;
    }
     #info #crt .s2 {
         font-size: 1.2em;
    }
     #info #crt .s3, #info #crt .s4, #info #crt a {
         font-size: .8em;
    }
     #info #crt .s1 {
         line-height: 10px;
         font-size: 1.5em;
    }
     #info #crt {
         padding: 0 15px;
    }
     #info #crt h1 {
         line-height: 1.5em;
    }
}
 @media (min-width: 576px) and (max-width: 767px) {
     .hide, .ti-container br:last-of-type {
         display: none;
    }
     #info #crt .s2 {
         font-size: 1.5em;
    }
     #info #crt .s1 {
         line-height: 1.5em;
         font-size: 2em;
    }
     #info #crt {
         padding: 0 30px;
    }
     #info #crt h1 {
         line-height: 1.8em !important;
    }
}
 @media (min-width: 768px) and (max-width: 991px) {
     .hide, .ti-container br:last-of-type {
         display: none;
    }
     #info #crt .s2 {
         font-size: 1.5em;
    }
     #info #crt .s3, #info #crt .s4, #info #crt a {
         font-size: 1em;
    }
     #info #crt .s1 {
         line-height: 1.3em;
         font-size: 1.6em;
    }
     #info #crt {
         padding-left: 30px;
    }
     #info #crt h1 {
         line-height: 2em;
    }
}
 @media (min-width: 991px) and (max-width: 1200px) {
     .hide, .ti-container br:last-of-type {
         display: none;
    }
     #info #crt .s2 {
         font-size: 1.5em;
    }
     #info #crt .s3, #info #crt .s4, #info #crt a {
         font-size: 1em;
    }
     #info #crt .s1 {
         line-height: 1.3em;
         font-size: 1.6em;
    }
     #info #crt {
         padding-left: 30px;
    }
     #info #crt h1 {
         line-height: 2em;
    }
}
/*! infor responsive end */
/*! footer start */
 .bg{
     background-size: cover !important;
     width: 100%;
     height: 100%;
     position: relative;
}
 .noise.bg {
     background: url(../images/retro-palm.gif) center center no-repeat;
}
 .noise.bg:before {
     left: 5px;
     background: url(../images/retro-palm.gif) center center no-repeat;
     background-size: cover;
     content: '';
     position: absolute;
     display: block;
     width: 100%;
     height: 100%;
     overflow: hidden;
     top: 0;
     -webkit-animation-name: noisebg;
     animation-name: noisebg;
     -webkit-animation-duration: 13s;
     animation-duration: 13s;
     -webkit-animation-timing-function: linear;
     animation-timing-function: linear;
     -webkit-animation-delay: 0s;
     animation-delay: 0s;
     -webkit-animation-iteration-count: infinite;
     animation-iteration-count: infinite;
}
 @keyframes noisebg {
     0% {
         clip: rect(381px,auto,78px,0) 
    }
     2.5% {
         clip: rect(387px,auto,565px,0) 
    }
     5% {
         clip: rect(991px,auto,954px,0) 
    }
     7.5% {
         clip: rect(287px,auto,940px,0) 
    }
     10% {
         clip: rect(504px,auto,272px,0) 
    }
     12.5% {
         clip: rect(135px,auto,606px,0) 
    }
     15% {
         clip: rect(436px,auto,111px,0) 
    }
     17.5% {
         clip: rect(129px,auto,368px,0) 
    }
     20% {
         clip: rect(798px,auto,726px,0) 
    }
     22.5% {
         clip: rect(472px,auto,228px,0) 
    }
     25% {
         clip: rect(127px,auto,47px,0) 
    }
     27.5% {
         clip: rect(187px,auto,149px,0) 
    }
     30% {
         clip: rect(517px,auto,906px,0) 
    }
     32.5% {
         clip: rect(215px,auto,867px,0) 
    }
     35% {
         clip: rect(833px,auto,386px,0) 
    }
     37.5% {
         clip: rect(132px,auto,647px,0) 
    }
     40% {
         clip: rect(815px,auto,598px,0) 
    }
     42.5% {
         clip: rect(18px,auto,823px,0) 
    }
     45% {
         clip: rect(718px,auto,444px,0) 
    }
     47.5% {
         clip: rect(786px,auto,845px,0) 
    }
     50% {
         clip: rect(718px,auto,352px,0) 
    }
     52.5% {
         clip: rect(525px,auto,51px,0) 
    }
     55% {
         clip: rect(175px,auto,225px,0) 
    }
     57.5% {
         clip: rect(908px,auto,52px,0) 
    }
     60% {
         clip: rect(259px,auto,142px,0) 
    }
     62.5% {
         clip: rect(462px,auto,558px,0) 
    }
     65% {
         clip: rect(165px,auto,384px,0) 
    }
     67.5% {
         clip: rect(763px,auto,833px,0) 
    }
     70% {
         clip: rect(201px,auto,206px,0) 
    }
     72.5% {
         clip: rect(317px,auto,880px,0) 
    }
     75% {
         clip: rect(514px,auto,249px,0) 
    }
     77.5% {
         clip: rect(93px,auto,375px,0) 
    }
     80% {
         clip: rect(620px,auto,323px,0) 
    }
     82.5% {
         clip: rect(656px,auto,17px,0) 
    }
     85% {
         clip: rect(91px,auto,150px,0) 
    }
     87.5% {
         clip: rect(565px,auto,192px,0) 
    }
     90% {
         clip: rect(868px,auto,240px,0) 
    }
     92.5% {
         clip: rect(141px,auto,729px,0) 
    }
     95% {
         clip: rect(295px,auto,762px,0) 
    }
     97.5% {
         clip: rect(131px,auto,867px,0) 
    }
     100% {
         clip: rect(474px,auto,577px,0) 
    }
}
 .content {
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     text-align: center;
}
 .rotatetext {
     font-family: HandWriting;
     color: white;
     text-align: center;
     font-size: calc(10vw + 5vh);
     transform: rotate(-18deg);
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
}
 #footer img {
     width: calc(30vw + 20vh);
     position: absolute;
}
 #footer img.left {
     left: -100px;
}
 #footer img.right {
     right: -110px;
}
.layer {
     height: 100%;
     width: 100%;
}
.center-d {
    width:  100%;
    height:  100%;
    display:  flex;
    align-items:  center;
    justify-content:  center;
}
/*! footer end */